<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        Enroll as Mentor
      </div>
      <div class="panel-body">
        <form [formGroup]="form">
          <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('name')">
            <label for="fullName" class="control-label required">Full Name</label>
            <input [(ngModel)]="user.name" type="text" class="form-control" id="name" placeholder="Enter Full Name" name="name" formControlName="name"
            minLength="4"/>
            <app-field-error-display [displayError]="isFieldValid('name')" errorMsg="Invalid Name">
            </app-field-error-display>
          </div>
          <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('gender')">
            <label for="gender" class="control-label required">Gender</label>
            <div>
              <input formControlName="gender" [(ngModel)]="user.gender" type="radio" name="gender" id="male" value="Male" checked>Male
              <input formControlName="gender" [(ngModel)]="user.gender" type="radio" name="gender" id="female" value="Female" style="padding-left:10px">Female
            </div>
            <app-field-error-display [displayError]="isFieldValid('gender')" errorMsg="Please Select Gender">
            </app-field-error-display>
          </div>
          <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('mobile')">
            <label for="mobile" class="control-label required">Mobile</label>
            <input formControlName="mobile" [(ngModel)]="user.mobile" type="text" class="form-control" id="mobile" placeholder="Enter Mobile Number"
              name="mobile" minLength="10" pattern="^[897][0-9]{9}"/>
            <app-field-error-display [displayError]="isFieldValid('mobile')" errorMsg="Invalid Mobile Number">
            </app-field-error-display>
          </div>
          <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('email')">
            <label for="email" class="control-label required">E-Mail</label>
            <input [(ngModel)]="user.email" type="email" class="form-control" id="email" placeholder="Enter Email" name="email" formControlName="email"
            minLength="6"/>
            <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="Invalid Email Id">
            </app-field-error-display>
          </div>
          <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('location')">
            <label for="location">Location</label>
            <input formControlName="location" [(ngModel)]="user.location" type="text" class="form-control" id="location" placeholder="Enter City/Town"
            minLength="4" name="location" />
            <app-field-error-display [displayError]="isFieldValid('location')" errorMsg="Invalid Location">
            </app-field-error-display>
          </div>
          <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('organization')">
            <label for="organization" class="control-label required">Organization</label>
            <input formControlName="organization" [(ngModel)]="user.organization" type="text" class="form-control" id="organization"
              placeholder="Enter Where Your Working" name="organization" />
            <app-field-error-display [displayError]="isFieldValid('organization')" errorMsg="Invalid Organization">
            </app-field-error-display>
            <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('qualification')">
              <label for="qualification" class="control-label required">Qualification</label>
              <div>
                <p-dropdown formControlName="qualification" filter="true" [options]="qualifications"  (onChange)="changeQualification($event.value)" [(ngModel)]="selectedQulification" placeholder="Select Qualification" optionLabel="name"
                  name="qualification" id="qualification"></p-dropdown>
                <app-field-error-display [displayError]="isFieldValid('qualification')" errorMsg="Please Select Qualification">
                </app-field-error-display>
              </div>            
            </div>
            <div class="form-group" [formGroup]="form" *ngIf="isQualificationOthers" [ngClass]="displayFieldCss('otherQualification')">
                <label for="otherQualification" class="control-label required">Specify Qualification</label>
                <input [(ngModel)]="user.otherQualification" type="text" class="form-control" id="otherQualification" placeholder="Specify Qualification" name="otherQualification" formControlName="otherQualification"/>
                <app-field-error-display [displayError]="isFieldValid('otherQualification')" errorMsg="Invalid Qualification">
                </app-field-error-display>
            </div></div>
          <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('skill')">
            <label for="skill" class="control-label required">Skill (Select One Skill Your Best At)</label>
            <div>
              <p-dropdown formControlName="skill" filter="true" [options]="skills"  (onChange)="changeSkill($event.value)" [(ngModel)]="selectedSkill" placeholder="Select One Skill Your Best At" optionLabel="name"
                name="skill" id="skill"></p-dropdown>
              <app-field-error-display [displayError]="isFieldValid('skill')" errorMsg="Please Select Skill">
              </app-field-error-display>
            </div>            
          </div>
          <div class="form-group" [formGroup]="form" *ngIf="isSkillOthers" [ngClass]="displayFieldCss('otherSkill')">
              <label for="otherSkill" class="control-label required">Specify Skill</label>
              <input [(ngModel)]="user.otherSkill" type="text" class="form-control" id="otherSkill" placeholder="Specify Skill" name="otherSkill" formControlName="otherSkill"/>
              <app-field-error-display [displayError]="isFieldValid('otherSkill')" errorMsg="Invalid Skill">
              </app-field-error-display>
          </div>
          <div class="form-group text-right">
            <button type="submit" class="btn btn-primary" (click)="enroll()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>