<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
            <div class="alert alert-danger">
                Something Went wrong, can you please try again after some time! 
            </div>
        </div>
      </div>
    </div>
</div>
