<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
            <div class="alert alert-success">
                <div>We appreciate your intrest in Mentorship.We will get back to you soon.</div>
                <div>Note reference id : <b>{{refNo}}</b> for future reference.</div>
            </div>
        </div>
      </div>
    </div>
</div>
